<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registrar Materia | UTS</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
  <link rel="stylesheet" th:href="@{/css/tablas.css}">
</head>
<body>

<!-- Navbar -->
<div th:replace="fragments/navbar_user :: navbar"></div>

<main class="container">
  <h2 class="welcome-title">Registrar Nueva Materia</h2>

  <form th:action="@{/materias/guardar}" th:object="${materia}" method="post" class="form-container">
    <label>Código: <input type="text" th:field="*{codigo}" required /></label>
    <label>Nombre: <input type="text" th:field="*{nombre}" required /></label>
    <label>Créditos: <input type="number" th:field="*{creditos}" required /></label>
    <label>Semestre: <input type="number" th:field="*{semestre}" required /></label>
    <label>Tipo:
      <select th:field="*{tipo}">
        <option value="Obligatoria">Obligatoria</option>
        <option value="Electiva">Electiva</option>
      </select>
    </label>
    <label>Prerequisitos: <input type="text" th:field="*{prerequisitos}" placeholder="Ej: MAT101,FIS102" /></label>
    <label>Descripción: <textarea th:field="*{descripcion}"></textarea></label>
    <label>Profesor:
      <select th:field="*{profesorId}" required>
        <option value="" disabled selected>Seleccione un profesor</option>
        <option th:each="profesor : ${profesores}"
            th:value="${profesor.cedula}"
            th:text="${profesor.nombre} + ' ' + ${profesor.apellido}">
        </option>
      </select>
    </label>

    <button type="submit" class="btn">Guardar Materia</button>
  </form>

  <a href="/materias" class="btn">Volver</a>
</main>

<div th:replace="fragments/footer :: footer"></div>
<script th:src="@{/js/useLogout.js}"></script>

</body>
</html>
