<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Page | UTS</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>

  <!-- Navbar -->
  <div th:replace="fragments/navbar_user :: navbar"></div>

  <section>
    <main class="container">
      <h1 class="welcome-title">Bienvenido a Matrícula UTS | Administrador</h1>

      <div class="create_users_container">
        <button class="create_users_button">Crear Usuario</button>
	<a class="create_users_button" th:href="@{/info/admin}">Volver</a>
      </div>

      <table id="user-table">
        <thead>
          <tr>
            <th>Cédula</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
  	    <th>Rol</th>
 	    <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="userTableBody">

        </tbody>
      </table>
    </main>
  </section>

  <br><br>

  <!-- Footer -->
  <div th:replace="fragments/footer :: footer"></div>
            
<!-- Modal para Crear Usuario -->
<div id="userModal" class="modal">
  <div class="modal-content">
    <span class="close-button">&times;</span>
    <h2 id="modalTittle">Crear Nuevo Usuario</h2>
    <br>
    <form id="createUserForm">
      <input type="hidden" id="userId" />
      <input type="text" id="cedula" placeholder="Cédula" required />
      <input type="text" id="username" placeholder="Usuario" required />
      <input type="password" id="password" placeholder="Contraseña" required />
      <input type="text" id="nombre" placeholder="Nombre" required />
      <input type="text" id="apellido" placeholder="Apellido" required />
      <select id="rol" required>
        <option value="">Seleccionar Rol</option>
        <option value="ADMIN">ADMIN</option>
        <option value="COORDINADOR">COORDINADOR</option>
        <option value="PROFESOR">PROFESOR</option>
        <option value="ESTUDIANTE">ESTUDIANTE</option>
        <option value="AUDITOR">AUDITOR</option>
      </select>
      <button type="submit" class="submit-button">Guardar Usuario</button>
    </form>
  </div>
</div>

  <!-- Logout -->
  <script th:src="@{/js/useLogout.js}"></script>

  <!-- Script para hacer Fecths -->
  <script th:src="@{/js/admin.js}"></script>

</body>
</html>
