<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/TopSection.css}">
  <script>
    function toggleMenu() {
      const navbar = document.getElementById("navbar");
      navbar.classList.toggle("active");
    }
  </script>
</head>
<body>

  <!-- Fragmento Navbar -->
  <div th:replace="fragments/navbar :: navbar"></div>

  <!-- Seccion informativa  -->
  <main style="padding: 20px;">
    <section>
      <div class="text_container">
        <h2>Bienvenido al Sistema de Matrícula UTS</h2>
        <p>
           Gestiona fácilmente tu matrícula académica en las Unidades Tecnológicas de Santander.
           Consulta asignaturas disponibles, registra tus materias y lleva el control de tu historial académico de manera eficiente.
        </p>
      </div>
      <figure class="img_container">
        <img th:src="@{/img/TopSection.webp}" alt="Hero"/>
      </figure>
    </section>
  </main>

  <!-- Fragmento Footer  -->
  <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
