<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Page | UTS</title>
  <link rel="stylesheet" th:href="@{/css/navbar.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/footer.css}">
  <link rel="stylesheet" th:href="@{/css/perms.css}">
</head>
<body>

  <!-- Navbar -->
  <div th:replace="fragments/navbar_user :: navbar"></div>

  <setion>
    <main class="container">
	<h1 class="welcome-title">Aqui puedes Gestionar los Permisos</h1>

	<div class="perms-container">

	</div>
    </main>
  </section>

  <!-- Footer -->
  <div th:replace="fragments/footer :: footer"></div>

  <!-- Logout -->
  <script th:src="@{/js/useLogout.js}"></script>

  <!-- Script para hacer Fecths -->
  <script th:src="@{/js/perms.js}"></script>

</body>
</html>
